body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: gray;

}

header {
    background-color: teal;
    width: 1879px;
    height: 120px;

}

h1 {
    color: beige;
    margin: 0px;
    text-align: center;
    font-size: 35px;
}

form {
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
}

input{
    font-size: 18px;
    border-style: inset;
    border-color: black;
}

#entrada, #saida{
    display: block;
}
#quartos {
    display: table-column;
}
